<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Form</title>
	<link rel="stylesheet" href="css/adminstyle.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
	<div class="center">
	<div class="header">Login Form</div>	

	<%=(typeof alertMsg!='undefined')? alertMsg:''%>

	<form  method="post" action="/adlogin">
		<input type="text" placeholder="Email or Username" name="email_address" required/>
		<i class="far fa-envelope"></i>
		<input id="pswrd" type="password" placeholder="Password" name="password" required/>
		<i class="fas fa-lock" onclick="show()"></i>
		<input type="submit" value="Login">
		<a href="#">Forgot Password?</a>
	</form>	
	</div>

	<!-- <script>
		function show(){
			var pswrd = document.getElementById('pswrd');
			var icon = document.querySelector('.fas');
			if (pswrd.type === "password") {
				pswrd.type = "text";
				pswrd.style.marginTop = "20px";
				icon.style.color = "#7f2092";
			}else{
				pswrd.type = "password";
				icon.style.color = "grey";
			}
		}
	</script>
	 -->
</body>
</html>