<!-- <!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/first_page.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <header class="site-header clearfix">
        <nav>
            <div class="logo">
                <h1>E-Vote</h1>

            </div>
            <div class="menu">
                <ul>
                    <li>Home</li>
                    <li>Services</li>
                    <li>AboutUs</li>
                    <li>ContactUs</li>
                </ul>
            </div>
        </nav>
        <section>
            <div class="leftside">
                <img src="img/home_page.png">
            </div>
            <div class="rightside">
                <h1>VOTE!</h1>
                <p> LET YOUR VOICE BE HEARD! </p>
                <a href="/register"><button>USER SIGN-UP/LOGIN</button></a>
                <a href="/admin_login"><button>ADMIN-LOGIN</button></a>

            </div>

        </section>

    </header>
</body>

</html> -->