<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link href="css/registration_from.css" rel="stylesheet" type="text/css" />
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <div class="container">
      <div class="split left">
        <form method="post" action="register">
          <h2 class="title">Sign up</h2>
          <p><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
          <div class="input-field">
            <input type="text" placeholder="Name" name="first_name" required />
          </div>
          <div class="input-field">
            <input
              type="email"
              placeholder="Email"
              name="email_address"
              required
            />
          </div>
          <div class="input-field">
            <input type="password" placeholder="Password" name="password" />
          </div>
          <div class="input-field">
            <input
              type="password"
              placeholder="ConfirmPassword"
              name="confirm_password"
            />
          </div>
          <input type="submit" value="Sign up" />
        </form>
      </div>
      <div class="split right">
        <h3>One of us?</h3>
        <p>If you have already signed up , that's great !! Please LOGIN</p>
        <a href="/login" class="btn">Login </a>
      </div>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
