<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link href="css/registration_from.css" rel="stylesheet" type="text/css">
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form method="post" action="register" >
            <h2 class="title">Sign up</h2>
            <p> <%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Name" name="first_name" required />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email"  name="email_address" required />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="password"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="ConfirmPassword" name="confirm_password"/>
            </div>
            <input type="submit" class="btn" value="Sign up" />
           
            
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>One of us?</h3>
            <p>
              If you have already signed up , that's great !! 
              Please LOGIN 
            </p>
            <a href="/login"><button class="btn transparent" id="sign-up-btn">
              Login
            </button>
            </a>
          </div>
          <img src="img/home_page.png" class="image" alt="" />
        </div>
      </div>

    </div>

    <script></script>
  </body>
</html>
