@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --left-bg-color: rgba(46, 46, 61, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgb(18, 172, 77);
  --hover-width: 75%;
  --minimize-width: 25%;
  --transition-speed: 1s;
  --default-font-size: 25px;
  --minimized-font-size: 12px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  font-size: var(--default-font-size);
  position: absolute;
  padding: 8px;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
  transition: font-size var(--transition-speed) ease-in-out;
}

.btn {
  color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  border: #fff solid 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url("https://i.pinimg.com/236x/6a/8d/dd/6a8ddd4cdd656d8f9bd456dd83728ed6.jpg")
    no-repeat center / cover;
}

.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url("https://i.pinimg.com/236x/57/9f/98/579f98a793f2674542e47267c55b90a6.jpg")
    no-repeat center / cover;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.left,
.split.right,
.split.left::before,
.split.right::before {
  transition: all var(--transition-speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--minimize-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--minimize-width);
}

.hover-left .right p,
.hover-right .left p {
  font-size: var(--minimized-font-size);
}

.split.left:hover p,
.split.right:hover p {
  font-size: var(--default-font-size);
}
.copyrightFooter {
  all: unset;
  color: white;
  position: absolute;
  opacity: 0.5;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 300px;
  text-align: center;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 30%;
  }
  .btn {
    padding: 1.2rem;
    width: 12rem;
  }
}
