* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}
nav {
  background-color: #33b5e5;
  position: fixed;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
.dark-mode-toggle {
  margin-left: 10px;
  cursor: pointer;
}
.logo h1 {
  margin: 0;
  font-size: 24px;
}

.rightside {
  display: flex;
  align-items: center;
}

.rightside h1 {
  margin-right: 20px;
  font-size: 18px;
}

p {
  margin: 0;
  font-size: 14px;
  color: #000;
}

button {
  margin-left: 20px;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5cb85c;
  color: #fff;
  text-decoration: none;
}

button:hover {
  background-color: #4cae4c;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
  background-color: #f8f8f8;
}

section.dark-mode {
  background-color: #333;
  color: white;
}

.container1 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.bold {
  font-weight: bold;
}
p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.links {
  display: flex;
  justify-content: start;
  margin-top: 15px;
  gap: 15px;
}

.links p {
  cursor: pointer;
  color: #3498db;
  text-decoration: underline;
}

.links p:hover {
  color: #2e86de;
}

.container2 {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 50px;
  padding: 10px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.item {
  display: flex;
  gap: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: #3498db;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}
.highlight {
  color: blue;
}
.container3 {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container3 h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.container3 .updates {
  display: flex;
  gap: 20px;
}

.container3 .update-item {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.container3 h2.update-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.container3 p {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 10px 0;
}

.container3 a {
  text-decoration: none;
  color: #3498db;
  cursor: pointer;
}

.container3 a:hover {
  text-decoration: underline;
}
#about-section {
  background-color: #fff;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.contact-us,
.about-us {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-inline: 30px;
}

.contact-item,
.about-item {
  flex: 1 1 100%;
  margin-bottom: 20px;
}

.contact-item p,
.about-item p {
  color: #555;
  font-size: 16px;
  margin: 0 0 10px 0;
}

.view-more {
  display: flex;
  align-items: center;
  color: #3498db;
  cursor: pointer;
}

.view-more svg {
  margin-left: 5px;
}

.view-more:hover {
  text-decoration: underline;
}
footer {
  background-color: #fff;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #ddd;
}

.social-icon svg {
  width: 24px;
  height: 24px;
  fill: #333;
}
